/* ================= RESET ================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


body {

    background: #050505;

    color: white;

    font-family: Arial, Helvetica, sans-serif;

    overflow-x: hidden;

}



/* ================= LOADER ================= */


.loader {

    position: fixed;

    inset: 0;

    background: #050505;

    display: flex;

    justify-content: center;

    align-items: center;

    flex-direction: column;

    z-index: 9999;

}


.loader-logo {

    font-size: 70px;

    animation: pulse 2s infinite;

}


.loader h1 {

    letter-spacing: 8px;

}


@keyframes pulse {

    50% {

        transform: scale(1.15);

        opacity: .6;

    }

}



/* ================= NAVBAR ================= */


.navbar {

    position: fixed;

    top: 0;

    width: 100%;

    padding: 25px 8%;

    display: flex;

    justify-content: space-between;

    align-items: center;

    z-index: 1000;

    background: rgba(5, 5, 5, .65);

    backdrop-filter: blur(15px);

}



.logo {

    font-size: 25px;

    font-weight: 900;

    letter-spacing: 3px;

    color: white;

}



.nav-links {

    display: flex;

    gap: 35px;

    list-style: none;

}



.nav-links a {

    color: #aaa;

    text-decoration: none;

    transition: .5s;

}


.nav-links a:hover {

    color: white;

}



.cart-button {

    background: white;

    color: black;

    border: 0;

    padding: 12px 22px;

    border-radius: 30px;

    cursor: pointer;

}




/* ================= HERO ================= */


.hero {

    min-height: 100vh;

    padding: 160px 8% 80px;

    display: flex;

    align-items: center;

    justify-content: space-between;

    gap: 50px;

}



.hero-left {

    max-width: 600px;

}


.hero h1 {

    font-size: 90px;

    letter-spacing: -5px;

}


.hero-logo {

    font-size: 60px;

}


.hero-text {

    font-size: 30px;

    margin: 20px 0;

}


.hero-subtext {

    color: #888;

    line-height: 1.6;

}



.hero-buttons button {

    margin-top: 35px;

    padding: 16px 35px;

    border-radius: 40px;

    cursor: pointer;

}



.primary-btn {

    background: white;

    color: black;

}



.secondary-btn {

    background: none;

    border: 1px solid white;

    color: white;

}



.hero-image img {

    width: 500px;

    animation: float 5s infinite ease-in-out;

}



@keyframes float {

    50% {

        transform: translateY(-20px);

    }

}



/* ================= HEADINGS ================= */


h2 {

    color: white;

    font-size: 55px;

    font-weight: 900;

    letter-spacing: -3px;

}



.small-title {

    color: #888;

    letter-spacing: 6px;

    font-size: 13px;

}



/* ================= SECTIONS ================= */


.product-showcase,
.story,
.collection,
.featured-products,
.reviews,
.newsletter {

    padding: 100px 8%;

}



/* ================= PRODUCT CARDS ================= */


.product-grid {

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 30px;

}



.product-card {

    background: #0b0b0b;

    border-radius: 25px;

    overflow: hidden;

    transition: .7s cubic-bezier(.22, 1, .36, 1);

}



.product-card:hover {

    transform: translateY(-20px);

    box-shadow:
        0 40px 80px rgba(255, 255, 255, .12);

}



.product-card img {

    width: 100%;

    height: 380px;

    object-fit: cover;

    transition:
        transform 1s cubic-bezier(.22, 1, .36, 1),
        filter 1s;

}



.product-card:hover img {

    transform:

        scale(1.12) translateY(-8px);


    filter:

        brightness(1.15);

}



.product-info {

    padding: 25px;

}



.product-info h3 {

    font-size: 25px;

}



.product-info p {

    color: #888;

    margin: 15px 0;

}



.add-cart-btn,
.add-cart {

    margin-top: 20px;

    width: 100%;

    padding: 14px;

    border-radius: 30px;

    border: 0;

    cursor: pointer;

}



/* ================= COLLECTION ================= */


.collection-grid,
.review-grid {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 30px;

}



.collection-card,
.review-card {

    background: #0b0b0b;

    padding: 35px;

    border-radius: 25px;

}



.collection-card img {

    width: 100%;

    border-radius: 20px;

}




/* ================= CART ================= */


.cart-sidebar {

    position: fixed;

    right: -450px;

    top: 0;

    height: 100vh;

    width: 400px;

    background: #0a0a0a;

    padding: 30px;

    transition: .5s;

    z-index: 2000;

}


.cart-sidebar.active {

    right: 0;

}



.close-cart {

    background: none;

    color: white;

    font-size: 30px;

}



/* ================= FOOTER ================= */


.footer {

    padding: 80px 8% 30px;

    border-top: 1px solid #222;

}



.footer-top {

    display: flex;

    justify-content: space-between;

}



.footer-links {

    display: flex;

    gap: 60px;

}



.footer a {

    color: #777;

    text-decoration: none;

    display: block;

    margin-top: 15px;

}



/* ================= REVEAL ================= */


.reveal {

    opacity: 0;

    transform: translateY(40px);

    transition: 1s;

}



.reveal.show {

    opacity: 1;

    transform: none;

}



/* ================= MOBILE ================= */


@media(max-width:900px) {


    .nav-links {

        display: none;

    }


    .hero {

        flex-direction: column;

        text-align: center;

    }


    .hero h1 {

        font-size: 55px;

    }


    .hero-image img {

        width: 300px;

    }


    .product-grid {

        grid-template-columns: 1fr;

    }


    .collection-grid,
    .review-grid {

        grid-template-columns: 1fr;

    }


    .footer-top {

        flex-direction: column;

        gap: 40px;

    }


    .footer-links {

        flex-direction: column;

    }


    h2 {

        font-size: 40px;

    }

}

/* ================= LUXURY LIGHT ATMOSPHERE ================= */


body {

    position: relative;

}


body::before {

    content: "";

    position: fixed;

    inset: -200px;

    background:

        radial-gradient(circle,
            rgba(255, 255, 255, .15),
            transparent 40%);


    animation:

        lightMove 12s infinite alternate;

    pointer-events: none;

    z-index: -2;

}



@keyframes lightMove {

    0% {

        transform:
            translate(-20%, -10%) scale(1);

    }


    100% {

        transform:
            translate(20%, 15%) scale(1.3);

    }

}

/* ================= PARTICLES ================= */


body::after {

    content: "";

    position: fixed;

    inset: 0;

    background-image:

        radial-gradient(white 1px,
            transparent 1px);

    background-size: 80px 80px;

    opacity: .12;


    animation:

        particles 20s linear infinite;


    pointer-events: none;

    z-index: -1;

}



@keyframes particles {


    from {

        background-position:
            0 0;

    }


    to {

        background-position:
            200px 400px;

    }


}

.hero-image {

    position: relative;

}


.hero-image::before {

    content: "";

    position: absolute;

    width: 500px;

    height: 500px;

    background:

        radial-gradient(circle,
            rgba(255, 255, 255, .18),
            transparent 70%);


    filter: blur(40px);

    top: 50%;

    left: 50%;

    transform:
        translate(-50%, -50%);

    animation:

        glowPulse 5s infinite;

}



@keyframes glowPulse {


    50% {

        opacity: .5;

        transform:
            translate(-50%, -50%) scale(1.2);

    }


}

/* ================= CINEMATIC INTRO ================= */


.loader {

    position: fixed;

    inset: 0;

    background: #000;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    z-index: 99999;

    overflow: hidden;

}


.loader::before {

    content: "";

    position: absolute;

    width: 500px;

    height: 500px;

    background:

        radial-gradient(circle,
            rgba(255, 255, 255, .15),
            transparent 70%);

    filter: blur(40px);

    animation:
        introGlow 5s infinite;

}



@keyframes introGlow {

    50% {

        transform: scale(1.4);

        opacity: .5;

    }

}



.loader-symbol {

    font-size: 100px;

    opacity: 0;

    animation:

        logoReveal 1.5s ease forwards;

}



.loader-name {

    margin-top: 30px;

    font-size: 55px;

    letter-spacing: 18px;

    font-weight: 900;

    opacity: 0;

    animation:

        nameReveal 1.5s ease forwards;

    animation-delay: 1.3s;

}



.loader-line {

    width: 0;

    height: 1px;

    background: white;

    margin-top: 25px;

    animation:

        lineReveal 1.5s ease forwards;

    animation-delay: 2s;

}



.loader p {

    margin-top: 25px;

    color: #777;

    letter-spacing: 5px;

    opacity: 0;

    animation:

        textReveal 1s ease forwards;

    animation-delay: 2.5s;

}



@keyframes logoReveal {

    from {

        opacity: 0;

        transform:
            scale(.5);

    }

    to {

        opacity: 1;

        transform:
            scale(1);

    }

}



@keyframes nameReveal {

    from {

        opacity: 0;

        letter-spacing: 40px;

    }


    to {

        opacity: 1;

        letter-spacing: 18px;

    }

}



@keyframes lineReveal {

    to {

        width: 300px;

    }

}



@keyframes textReveal {

    to {

        opacity: 1;

    }

}

/* ================= HERO CINEMATIC REVEAL ================= */


.hero-left {

    opacity: 0;

    transform: translateY(60px);

    animation:
        heroTextReveal 1.5s ease forwards;

    animation-delay: 4.5s;

}



.hero-image {

    opacity: 0;

    transform:
        translateX(100px) scale(.9);


    animation:
        productReveal 1.8s cubic-bezier(.22, 1, .36, 1) forwards;


    animation-delay: 4.3s;

}




.hero-buttons {

    opacity: 0;

    transform: translateY(30px);

    animation:
        buttonReveal 1s ease forwards;

    animation-delay: 5.5s;

}




@keyframes heroTextReveal {


    to {

        opacity: 1;

        transform: translateY(0);

    }

}




@keyframes productReveal {


    to {

        opacity: 1;

        transform:
            translateX(0) scale(1);

    }

}




@keyframes buttonReveal {


    to {

        opacity: 1;

        transform: translateY(0);

    }

}

.hero-image::after {

    content: "";

    position: absolute;

    width: 600px;

    height: 600px;


    background:

        radial-gradient(circle,

            rgba(255, 255, 255, .18),

            transparent 70%);


    filter: blur(50px);


    top: 50%;

    left: 50%;


    transform:
        translate(-50%, -50%);


    z-index: -1;

}

/* ================= VENOMROOT AI BOT ================= */


.vr-bot {

    position: fixed;

    right: 40px;

    bottom: 40px;

    z-index: 9999;

    display: flex;

    flex-direction: column;

    align-items: center;

    gap: 15px;

    animation: botFloat 4s ease-in-out infinite;

}


.bot-face {

    width: 65px;

    height: 65px;

    border-radius: 20px;

    background: white;

    color: black;

    display: flex;

    justify-content: center;

    align-items: center;

    font-size: 25px;

    box-shadow:
        0 0 40px rgba(255, 255, 255, .25);

}



.bot-message {

    background: #111;

    color: white;

    padding: 12px 18px;

    border-radius: 20px;

    font-size: 13px;

    opacity: 0;

    transition: .5s;

}



.vr-bot:hover .bot-message {

    opacity: 1;

}



@keyframes botFloat {

    50% {

        transform: translateY(-15px);

    }

}

.vr-bot {

    position: fixed;

    right: 50px;

    bottom: 50px;

    z-index: 9999;

}



.robot {

    position: relative;

    animation:
        robotFloat 3s infinite ease-in-out;

}



.head {

    width: 90px;

    height: 80px;

    border-radius: 30px;

    background:
        linear-gradient(145deg, #fff, #777);

    display: flex;

    justify-content: center;

    align-items: center;

    position: relative;

    box-shadow:
        0 0 50px rgba(255, 255, 255, .3);

}



.logo {

    font-size: 40px;

    color: black;

}



.eyes {

    position: absolute;

    top: 20px;

    display: flex;

    gap: 25px;

}



.eye {

    width: 18px;

    height: 18px;

    background: white;

    border-radius: 50%;

    overflow: hidden;

}



.pupil {

    width: 8px;

    height: 8px;

    background: black;

    border-radius: 50%;

    margin: 5px;

}



.body {

    width: 70px;

    height: 60px;

    background: #111;

    border-radius: 20px;

    margin: auto;

}



.arm {

    position: absolute;

    font-size: 30px;

}



.left-arm {

    left: -35px;

    top: 90px;

    animation:
        wave 2s infinite;

}



.right-arm {

    right: -35px;

    top: 90px;

}



@keyframes wave {

    50% {

        transform:
            rotate(-35deg);

    }

}



@keyframes robotFloat {

    50% {

        transform:
            translateY(-15px);

    }

}

/* ================= VENOMROOT AI DRONE ================= */

#drone {

    position: fixed;

    width: 70px;

    height: 70px;

    pointer-events: none;

    z-index: 99999;

    left: 50%;

    top: 50%;

    transform: translate(-50%, -50%);

}



.drone-body {

    width: 70px;

    height: 70px;

    border-radius: 50%;

    background:
        linear-gradient(145deg,
            #ffffff,
            #9a9a9a);

    display: flex;

    justify-content: center;

    align-items: center;

    box-shadow:
        0 0 35px rgba(255, 255, 255, .25);

    animation:
        droneFloat 3s ease-in-out infinite;

}



.drone-logo {

    font-size: 34px;

    color: #000;

}



.thruster {

    position: absolute;

    width: 6px;

    height: 18px;

    background: white;

    bottom: -8px;

    border-radius: 50px;

    filter: blur(1px);

    animation:
        thrust .25s infinite alternate;

}



.left {

    left: 18px;

}



.right {

    right: 18px;

}



@keyframes thrust {

    from {

        height: 12px;

        opacity: .6;

    }

    to {

        height: 24px;

        opacity: 1;

    }

}



@keyframes droneFloat {

    50% {

        transform:
            translateY(-10px);

    }

}

/* ================= CINEMATIC REVEAL ================= */

.reveal {

    opacity: 0;

    transform: translateY(80px) scale(.96);

    transition:
        opacity 1.2s ease,
        transform 1.2s cubic-bezier(.22, 1, .36, 1);

}

.reveal.show {

    opacity: 1;

    transform: translateY(0) scale(1);

}

html {

    scroll-behavior: auto;

}

body {

    overflow-x: hidden;

}

/* ================= FEATURED DROP ================= */

.featured-drop {

    min-height: 100vh;

    display: flex;

    justify-content: space-between;

    align-items: center;

    gap: 80px;

    padding: 120px 10%;

}

.drop-text {

    flex: 1;

}

.drop-number {

    letter-spacing: 6px;

    color: #888;

    margin-bottom: 20px;

}

.drop-text h2 {

    font-size: 70px;

    margin-bottom: 20px;

}

.drop-description {

    max-width: 500px;

    color: #aaa;

    line-height: 1.8;

    margin-bottom: 40px;

}

.drop-btn {

    display: inline-block;

    padding: 16px 38px;

    border: 1px solid white;

    color: white;

    text-decoration: none;

    transition: .4s;

}

.drop-btn:hover {

    background: white;

    color: black;

}

.drop-image {

    flex: 1;

    display: flex;

    justify-content: center;

}

.drop-image img {

    width: 100%;

    max-width: 550px;

    transition: transform .8s cubic-bezier(.22, 1, .36, 1);

}

.drop-image:hover img {

    transform: scale(1.05);

}

@media(max-width:900px) {

    .featured-drop {

        flex-direction: column;

        text-align: center;

    }

    .drop-text h2 {

        font-size: 48px;

    }

}

/*================ LOOKBOOK ================*/

.lookbook {

    padding: 140px 8%;

}

.lookbook-header {

    text-align: center;

    margin-bottom: 80px;

}

.lookbook-header p {

    color: #888;

    letter-spacing: 8px;

    margin-bottom: 15px;

}

.lookbook-header h2 {

    font-size: 58px;

    font-weight: 700;

}

.look-grid {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 30px;

}

.look-card {

    position: relative;

    overflow: hidden;

    border-radius: 22px;

    background: #111;

    cursor: pointer;

}

.look-card img {

    width: 100%;

    height: 650px;

    object-fit: cover;

    transition: 1s cubic-bezier(.22, 1, .36, 1);

}

.look-card:hover img {

    transform: scale(1.08);

}

.look-overlay {

    position: absolute;

    inset: 0;

    background: linear-gradient(transparent,

            rgba(0, 0, 0, .85));

    display: flex;

    flex-direction: column;

    justify-content: flex-end;

    padding: 35px;

}

.look-overlay span {

    color: #888;

    letter-spacing: 4px;

}

.look-overlay h3 {

    margin: 10px 0;

    font-size: 34px;

}

.look-overlay p {

    color: #ddd;

}

.look-card::after {

    content: "";

    position: absolute;

    inset: 0;

    background: rgba(255, 255, 255, .05);

    opacity: 0;

    transition: .5s;

}

.look-card:hover::after {

    opacity: 1;

}

@media(max-width:1000px) {

    .look-grid {

        grid-template-columns: 1fr;

    }

    .look-card img {

        height: 500px;

    }

}

#drone {

    position: fixed;

    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background: rgba(255, 255, 255, .08);

    backdrop-filter: blur(10px);

    border: 1px solid rgba(255, 255, 255, .25);

    z-index: 99999;

    pointer-events: none;

}


#drone span {

    color: white;

    font-size: 28px;

}

.brand-statement {

    min-height: 60vh;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    text-align: center;

    padding: 100px 20px;

}


.brand-statement p {

    letter-spacing: 8px;

    color: #888;

}


.brand-statement h2 {

    font-size: 80px;

    margin: 25px 0;

}


.brand-statement span {

    color: #aaa;

    max-width: 500px;

    font-size: 18px;

}


@media(max-width:700px) {

    .brand-statement h2 {

        font-size: 45px;

    }

}

/* ================= SPACING CLEANUP ================= */

section {
    padding-top: 80px;
    padding-bottom: 80px;
}


.hero {
    min-height: 85vh;
}


.product-showcase,
.story,
.collection,
.collections,
.featured-products,
.featured,
.reviews,
.newsletter {

    min-height: auto;

}

/* ================= BRAND IDENTITY ================= */

.identity {

    min-height: 70vh;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    text-align: center;

    padding: 80px 20px;

}


.identity p {

    letter-spacing: 10px;

    color: #888;

    font-size: 13px;

}


.identity h2 {

    font-size: clamp(45px, 8vw, 100px);

    margin: 25px 0;

    font-weight: 800;

}


.identity span {

    color: #aaa;

    max-width: 550px;

    font-size: 18px;

    line-height: 1.7;

}

/* ================= FINAL POLISH ================= */


/* Fix section spacing */

section {

    padding-top: 80px;
    padding-bottom: 80px;

}


/* Better scrolling */

html {

    scroll-behavior: smooth;

}


body {

    overflow-x: hidden;

}


/* Reveal animation fix */

.reveal {

    opacity: 0;

    transform: translateY(40px);

    transition:
        opacity .8s ease,
        transform .8s ease;

}


.reveal.show {

    opacity: 1;

    transform: translateY(0);

}


/* Luxury image hover */

img {

    user-select: none;

}


/* Mobile improvements */

@media(max-width:768px) {

    section {

        padding-top: 50px;
        padding-bottom: 50px;

    }


    h1 {

        font-size: 45px !important;

    }


    h2 {

        font-size: 38px !important;

    }


}

/* CONTACT FOOTER */

.footer-contact {

    display: flex;
    flex-direction: column;
    gap: 15px;

}


.footer-contact h3 {

    letter-spacing: 4px;

}


.footer-contact a {

    color: #aaa;

    text-decoration: none;

    transition: .3s;

}


.footer-contact a:hover {

    color: white;

}

/* ================= LUXURY TEXT EFFECT ================= */


h1,
h2,
h3,
p,
.small-title,
.logo,
a,
button {

    transition:
        transform .5s cubic-bezier(.22, 1, .36, 1),
        opacity .5s ease,
        letter-spacing .5s ease,
        filter .5s ease;

}


/* hover stretch */

h1:hover,
h2:hover,
h3:hover,
p:hover,
.small-title:hover,
.logo:hover,
a:hover,
button:hover {

    transform: scaleX(1.06);

    letter-spacing: 2px;

}


/* soft fade edges */

h1:hover,
h2:hover,
h3:hover {

    filter:
        drop-shadow(0 0 12px rgba(255, 255, 255, .25));

}


/* small text luxury effect */

p:hover,
.small-title:hover {

    opacity: .75;

}


/* buttons stay clean */

button:hover {

    transform:
        scale(1.08);

}

.hero-left h1 {

    animation:
        titleReveal 1.8s ease forwards;

}


@keyframes titleReveal {

    from {

        opacity: 0;

        transform:
            translateY(40px) scale(.95);

        letter-spacing: 20px;

    }


    to {

        opacity: 1;

        transform:
            translateY(0) scale(1);

        letter-spacing: 0;

    }

}